.elementor-1074 .elementor-element.elementor-element-3cadc37:not(.elementor-motion-effects-element-type-background), .elementor-1074 .elementor-element.elementor-element-3cadc37 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2019/10/WhatsApp-Image-2019-10-24-at-3.57.02-PM.jpeg");background-position:center center;background-size:cover;}.elementor-1074 .elementor-element.elementor-element-3cadc37{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1074 .elementor-element.elementor-element-3cadc37 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1074 .elementor-element.elementor-element-93188e1:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-1074 .elementor-element.elementor-element-93188e1 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:rgba(0,0,0,0.52);}.elementor-1074 .elementor-element.elementor-element-93188e1 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:50px 0px 30px 0px;}.elementor-1074 .elementor-element.elementor-element-93188e1 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1074 .elementor-element.elementor-element-7bcfc9a{text-align:center;}.elementor-1074 .elementor-element.elementor-element-7bcfc9a .elementor-heading-title{color:#FFFFFF;font-family:"Georgia", Sans-serif;font-size:40px;font-weight:300;font-style:italic;letter-spacing:1px;}.elementor-1074 .elementor-element.elementor-element-5a91856 .elementor-text-editor{text-align:center;}.elementor-1074 .elementor-element.elementor-element-5a91856{color:#FFFFFF;font-family:"Lato", Sans-serif;font-size:15px;}.elementor-1074 .elementor-element.elementor-element-5a91856 > .elementor-widget-container{padding:10px 10px 30px 10px;}.elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(7px/2);}.elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(7px/2);}.elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(7px/2);margin-left:calc(7px/2);}.elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-7px/2);margin-left:calc(-7px/2);}body.rtl .elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-7px/2);}body:not(.rtl) .elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-7px/2);}.elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-item:not(:last-child):after{content:"";border-color:#ddd;}.elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after{border-top-style:solid;border-top-width:1px;}.elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-left-style:solid;}.elementor-1074 .elementor-element.elementor-element-39df543 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-left-width:1px;}.elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-icon i{font-size:14px;}.elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-icon svg{width:14px;}.elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-text{color:#FFFFFF;}.elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-item, .elementor-1074 .elementor-element.elementor-element-39df543 .elementor-icon-list-item a{font-family:"Open Sans", Sans-serif;font-size:18px;}.elementor-1074 .elementor-element.elementor-element-39df543 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 10px 0px;}.elementor-1074 .elementor-element.elementor-element-ba540bb .elementor-spacer-inner{height:20px;}.elementor-1074 .elementor-element.elementor-element-ddab51f{padding:50px 0px 0px 0px;}.elementor-1074 .elementor-element.elementor-element-c65c2d4 .elementor-heading-title{color:#212052;font-family:"Poppins", Sans-serif;font-size:25px;font-weight:700;}.elementor-1074 .elementor-element.elementor-element-1dc58ec{--divider-border-style:solid;--divider-color:#0d959b;--divider-border-width:3px;}.elementor-1074 .elementor-element.elementor-element-1dc58ec .elementor-divider-separator{width:100%;}@media(min-width:768px){.elementor-1074 .elementor-element.elementor-element-93188e1{width:33%;}.elementor-1074 .elementor-element.elementor-element-8c26661{width:67%;}}/* Start custom CSS for text-editor, class: .elementor-element-c3cd6a4 */._blox_clean_event_box ._blox_event_box ._blox_image_box ._blox_date_box {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 27px;
    top: 0;
}

._blox_date_box{
    margin-top: 11px;
}

._blox_clean_event_box img {
    max-width: 100%;
    border: 0;
    outline: 0;
}

._blox_clean_event_box ._blox_event_box ._blox_image_box ._blox_date_box ._blox_date {
    font-size: 43px;
    line-height: 48px;
    font-weight: 800;
    padding-top: 5px;
    text-align: center;
}

._blox_clean_event_box ._blox_event_box ._blox_image_box ._blox_date_box ._blox_month {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
}

._blox_clean_event_box ._blox_event_box ._blox_content_box {
    background: #fff;
    padding: 35px 27px 25px;
}

._blox_clean_event_box ._blox_event_box ._blox_content_box ._blox_paragraph {
    line-height: 28px;
    margin: 0 0 5px;
    font-size: 18px;
    color: #4A4A4A;
}

._blox_clean_event_box ._blox_event_box ._blox_content_box a._blox_book_now {
    line-height: 33px;
    width: 123px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #0d959b;
    color: #0d959b;
}

._blox_clean_event_box ._blox_event_box ._blox_content_box {
    background: #fff;
    padding: 35px 27px 25px;
}

._blox_clean_event_box ._blox_event_box {
    color: #fff;
    font-family: inherit;
}

 ._blox_clean_event_box ._blox_event_box ._blox_content_box ._blox_location {
    font-size: 14px;
    line-height: 28px;
    color: #9B9B9B;
    font-weight: 400;
    margin: 0 0 15px;
}/* End custom CSS */